/*main body*/
html, body {
    background-color: rgb(57, 94, 102);
    height: 100%;
    margin: 0;
}

/*div container*/
.container {
    display: flex;
    height: 100%;
}

.sidebar {
    /*Sidebar itself*/
    min-width: 100px;
    width: 15%;
    background-color: rgb(56, 125, 122);
    border-radius: 15px;
    padding: 25px;
    margin: 15px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);

    /*Sidebar inner*/
    font-family: Arial, Helvetica, sans-serif;
}


/*Main body content stuff*/
.main-content {
    flex-grow: 1; /*Allows main content to fill up remaining space across from sidebar*/
}

.header {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: rgb(204, 204, 204);
}

.main-text {
    text-align: left;
    font-size: default;
    font-weight: normal;
    color:rgb(204, 204, 204);
    margin-left: 15px;
}


    /*Links section*/
/*Fake links*/
.nonlink {
    color: rgb(38, 169, 108);
    text-decoration: line-through;
    font-weight: bold;
    cursor: default;
    display: block;
    margin-bottom: 20px;
}

/*Sidebar links*/
a.SBLink {
    color: rgb(38, 169, 108);
    text-decoration: none;
    font-weight: bolder;
    display: block;
    margin-bottom: 20px;
}

a.SBLink:hover {
    color: rgb(43, 192, 22);
    text-decoration: none;
    font-weight: bolder;
}